* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #142329;
    overflow: hidden;
}

.content {
    max-width: 800px;
    margin: 20px;
    padding: 20px;
    color: #fff;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

p {
    margin-bottom: 40px;
}

#articleList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.article {
    color: #fff;
    padding: 10px;
    margin-bottom: 20px;
    width: calc(50% - 20px);
    max-width: 380px;
}
